:root {
    --theme-color: #000;
    --primary-color: #007bff;
    --secundary-color: #2a3d4e;
    --text-color-inverse: white;
    --text-color: white;
    --navBar-shallow-color: #0056b3;
    --menu-mobile-background-color: #2a3d4e;
    --font-family: 'Montserrat Alternates', sans-serif;
}

html {
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 70px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
    padding-top: 90px;
}

.horizontal__padding {
    padding-left: 25px;
    padding-right: 25px;
}

.vertical__padding {
    padding-top: 25px;
    padding-bottom: 25px;
}

.foother {
    background-color: var(--secundary-color);
}

.nav-foother {
    text-align: center;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
}

@media (min-width: 950px) {
    .horizontal__padding {
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .vertical__padding {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
